<button class="btn btn-info" @onclick="IncreaseBananaCount">+</button>

@code {
    [Parameter]
    public EventCallback<int> BananasAdded  { get; set; }

    //Invoke: 
    public void IncreaseBananaCount()
    {
        BananasAdded.InvokeAsync(10);
    }
}
