@inject BlazorBattles.Client.Services.IBananaService BananaService
@implements IDisposable;

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <img src="icons/I_C_Banana.png" /><span class="popover-header">@BananaService.Bananas</span>
            <AddBananas />
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="login">Login</NavLink>
            <NavLink href="register">Registrer</NavLink>
        </div>
    </NotAuthorized>


</AuthorizeView>

@code {
    //Subscribe til OnChanged event af Ibananas
    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
        //Så ved den at den på state skal ændre
        //Component lifecyckle, derfor skal den overrides
    }

    //Unsubscripe when disposed
    public void Dispose()
    {
        BananaService.OnChange -= StateHasChanged;
    }

}
