@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AutStateProvider

Please login below or <NavLink href="register">Register</NavLink> for a new account.



<EditForm Model="@user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" @bind-Value="user.Username" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="password"> Password</label>
            <InputText id="password" type="password" @bind-Value="user.Password" class="form-control"></InputText>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm>



@code {
    private BlazorBattles.Shared.UserLogin user = new BlazorBattles.Shared.UserLogin();

    
    private async void HandleLogin()
    {
        await LocalStorage.SetItemAsync<bool>("isAuthenticated", true);
        await AutStateProvider.GetAuthenticationStateAsync();

    }

}
